<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="title">
          Copyright © 2018 <span> Smart Gym </span> Developed by<span> Eslam Ibrahim </span><br>
          <i class="fab fa-facebook fa-2x me-3 mt-4"></i>
          <i class="fab fa-instagram fa-2x"></i>
        </div>
      </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="ladies-branch">
        <h4>Ladies location</h4>
        <ul class="list-unstyled mt-3">
          <li><i class="fa fa-map-marker me-2"></i>Nasr City Ladies Branch<br>
              Phone: 01022636156 - 02 26701288</li>
          <li><i class="fa fa-map-marker me-2"></i>Sheraton Ladies Branch<br>
              Phone: 01066637756 - 02 22687120</li>
          <li><i class="fa fa-map-marker me-2"></i> New Cairo Ladies Branch<br>
              Phone: 01000038141 – 02 25651415</li>
          <li><i class="fa fa-map-marker me-2"></i> Golf Ladies Branch<br>
              Phone: 01066637757 - 02 22907921</li>
          <li><i class="fa fa-map-marker me-2"></i>Porto New Cairo Ladies Branch<br>
              Phone: 01092666687</li>
        </ul>
      </div>
    </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="men-branch">
      <h4>Men location</h4>
      <ul class="list-unstyled mt-3">
        <li><i class="fa fa-map-marker me-2"></i>Nasr City Men Branch<br>
            Phone: 01022636156 - 02 26701288</li>
        <li><i class="fa fa-map-marker me-2"></i>Sheraton Men Branch<br>
            Phone: 01066637756 - 02 22687120</li>
        <li><i class="fa fa-map-marker me-2"></i> New Cairo Men Branch<br>
            Phone: 01000038141 – 02 25651415</li>
        <li><i class="fa fa-map-marker me-2"></i> Golf Men Branch<br>
            Phone: 01066637757 - 02 22907921</li>
        <li><i class="fa fa-map-marker me-2"></i>Porto New Cairo Men Branch<br>
            Phone: 01092666687</li>
      </ul>
    </div>
  </div>
</div>
  </div>
</footer>
