.smart-img
{
  width: 15%;
}
.smart-img img
{
  width: 100%;
}
.items ul li a
{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  transition: all .5s !important;
}
.items ul li a:hover
{
  color: #337ab7 !important;
}
.items ul li a::before,.items ul li a::after
{
  content:"";
  position: absolute;
  width: 0%;
  right: 50%;
  height: 2px;
  background: #337ab7 !important;
  bottom: -6px;
  transition: all .5s ease-in;
}
.items ul li a::before
{
  left:50%;
}
.items ul li a:hover:before,.items ul li a:hover:after
{
  width: 50%;
}
.menu-button, .main-menu
{
  display: none !important;
}


@media screen and (max-width:1024px) and (min-width:770px)
{
  .menu-button
  {
    display: block !important;
    position: absolute;
    /* top: 5%; */
    right: 17px;
    background-color: #034EA1;
    border: medium none;
  }
  .menu-button i
  {
    color: #fff;
    font-size: 30px !important;
  }
  .main-menu
  {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .main-menu span
  {
    font-size: 14px;
    font-weight: 500;
    padding: 0 14px;
    font-size: 18px;
  }
  .main-menu::before
  {
    content: "";
    position: absolute;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 85%;
    bottom: 1px;
    left: 15px;
  }
  .items .nav-list
  {
    display: block;
    background-color: #034EA1 !important;
    flex-direction: column;
    font-weight:400 ;
    width: 252px;
    height: 100%;
    position: fixed;
    right: -300px;
    top: -5px;
    margin: 0;
    transition: all 0.5s ease-in;
  }
  .items .nav-list li
  {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 5px;
    margin-bottom: 13px;
  }
  .items .show
  {
    right: 17px;
    top: -10px;
  }
}
@media screen and (max-width:768px) and (min-width:600px)
{
  .menu-button
  {
    display: block !important;
    position: absolute;
    /* top: 5%; */
    right: 17px;
    background-color: #034EA1;
    border: medium none;
  }
  .menu-button i
  {
    color: #fff;
    font-size: 30px !important;
  }
  .main-menu
  {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .main-menu span
  {
    font-size: 14px;
    font-weight: 500;
    padding: 0 14px;
    font-size: 18px;
  }
  .main-menu::before
  {
    content: "";
    position: absolute;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 85%;
    bottom: 1px;
    left: 15px;
  }
  .items .nav-list
  {
    display: block;
    background-color: #034EA1 !important;
    flex-direction: column;
    font-weight:400 ;
    width: 252px;
    height: 100%;
    position: fixed;
    right: -300px;
    top: -5px;
    margin: 0;
    transition: all 0.5s ease-in;
  }
  .items .nav-list li
  {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 5px;
    margin-bottom: 13px;
  }
  .items .show
  {
    right: 17px;
    top: -10px;
  }
}

@media screen and (max-width:448px) and (min-width:250px)
{
  .menu-button
  {
    display: block !important;
    position: absolute;
    /* top: 5%; */
    right: 17px;
    background-color: #034EA1;
    border: medium none;
  }
  .menu-button i
  {
    color: #fff;
    font-size: 30px !important;
  }
  .main-menu
  {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .main-menu span
  {
    font-size: 14px;
    font-weight: 500;
    padding: 0 14px;
    font-size: 18px;
  }
  .main-menu::before
  {
    content: "";
    position: absolute;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 85%;
    bottom: 1px;
    left: 15px;
  }
  .items .nav-list
  {
    display: block;
    background-color: #034EA1 !important;
    flex-direction: column;
    font-weight:400 ;
    width: 252px;
    height: 100%;
    position: fixed;
    right: -300px;
    top: -5px;
    margin: 0;
    transition: all 0.5s ease-in;
  }
  .items .nav-list li
  {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 5px;
    margin-bottom: 13px;
  }
  .items .show
  {
    right: 17px;
    top: -10px;
  }

  .smart-img img
  {
    width: 100px !important;
  }
}
