 <section class="about-us">
  <div class="head text-white text-center">
    <h2>ABOUT SMART GYM</h2>
    <p>We’re not just a gym with the latest equipment, we also provide you with various classes that will help you achieve your fitness goals.</p>
  </div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="item d-flex justify-content-end align-items-center  mx-4">
          <div class="desc text-white">
            <h4>BODY TRANSFORMATION</h4>
            <p>Helping you achieve your weight loss and muscle goals.</p>
          </div>
          <div class=" about-img">
          <img src="../../assets/Images/body.png"   alt="body">
        </div>
        </div>
        <div class="item d-flex justify-content-end align-items-center mx-4">
          <div class="desc text-white">
            <h4>BODY TRANSFORMATION</h4>
            <p>Helping you achieve your weight loss and muscle goals.</p>
          </div>
          <div class=" about-img">
          <img src="../../assets/Images/member.png"  alt="member">
        </div>
        </div>
        <div class="item d-flex justify-content-end align-items-center mx-4">
          <div class="desc text-white">
            <h4>BODY TRANSFORMATION</h4>
            <p>Helping you achieve your weight loss and muscle goals.</p>
          </div>
          <div class=" about-img">
          <img src="../../assets/Images/innovation.png"  alt="innovation">
        </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class="item d-flex justify-content-start align-items-center mx-4">
          <div class=" about-img im2">
            <img src="../../assets/Images/expertise.png"   alt="expertise">
          </div>
          <div class="desc r2 text-white">
            <h4>BODY TRANSFORMATION</h4>
            <p>Helping you achieve your weight loss and muscle goals.</p>
          </div>

        </div>
        <div class="item d-flex justify-content-start align-items-center mx-4">
          <div class=" about-img im2">
            <img src="../../assets/Images/family.png"  alt="family">
          </div>
          <div class="desc r2 text-white">
            <h4>BODY TRANSFORMATION</h4>
            <p>Helping you achieve your weight loss and muscle goals.</p>
          </div>

        </div>
        <div class="item d-flex justify-content-start align-items-center mx-4">
          <div class=" about-img im2">
            <img src="../../assets/Images/new.png"  alt="new">
          </div>
          <div class="desc r2 text-white">
            <h4>BODY TRANSFORMATION</h4>
            <p>Helping you achieve your weight loss and muscle goals.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container pt-5 ">
    <div class="row all-info">
      <div class="col-md-4 col-sm-6 col-xs-12 info">
        <div class="Working-find">
          <h4>WORKING HOURS</h4>
        </div>
          <div class="branches">
          <p>MEN BRANCHES ARE AVAILABLE FROM 6 AM - 1 AM</p>
          <hr>
          <p>LADIES BRANCHES ARE AVAILABLE FROM 7 AM – 11 PM</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 info">
        <div class="Working-find">
          <h4>LATEST NEWS</h4>
        </div>
        <div class="branches news">
          <p> Stay tuned for our upcoming offers in all our branches.</p>
          <p> Follow us on Facebook
        </div>
        </div>


      <div class="col-md-4 col-sm-6 col-xs-12 info">
        <div class="Working-find">
          <h4>FIND US</h4>
        </div>

        <div class="map-frame-event"><div class="gmap_canvas"><iframe width="600" height="280" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>

      </div>
    </div>
  </div>
</section>

