<section class="schedule">
  <div class="container ">
    <div class="title">
    <h2>BRANCH CLASS SCHEDULES</h2>
    <p>Check out the class schedules of your nearest branch!.</p>
  </div>
  <div class="row ">

    <div class="col-md-1 col-sm-4 col-xs-6">

    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="branch"><img src="../../assets/Images/gray.png" alt="box"><h3>sheraton branch - men</h3></div>
      <div class="table"></div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="branch"><img src="../../assets/Images/gray.png" alt="box"><h3>merghany branch - men</h3></div>
      <div class="table"></div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="branch"><img src="../../assets/Images/gray.png" alt="box"><h3>nasr city branch - men</h3></div>
      <div class="table"></div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="branch"><img src="../../assets/Images/gray.png" alt="box"><h3>new cairo branch - men</h3></div>
      <div class="table"></div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="branch"><img src="../../assets/Images/gray.png" alt="box"><h3>porto new cairo branch - men</h3></div>
      <div class="table"></div>
    </div>

    <div class="col-md-1 col-sm-4 col-xs-6">

    </div>

    <div class="col-md-1 col-sm-4 col-xs-6">

    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="branch"><img src="../../assets/Images/gray.png" alt="box"><h3>sheraton branch - women</h3></div>
      <div class="table"></div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="branch"><img src="../../assets/Images/gray.png" alt="box"><h3>golf branch - women</h3></div>
      <div class="table"></div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="branch"><img src="../../assets/Images/gray.png" alt="box"><h3>nasr city branch - women</h3></div>
      <div class="table"></div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="branch"><img src="../../assets/Images/gray.png" alt="box"><h3>new cairo branch - women</h3></div>
      <div class="table"></div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
      <div class="branch"><img src="../../assets/Images/gray.png" alt="box"><h3>porto new cairo branch - women</h3></div>
      <div class="table"></div>
    </div>
    <div class="col-md-1 col-sm-4 col-xs-6">

    </div>
  </div>
  </div>
</section>
