<section class="Contact">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="title">
          <h4>CONTACT US</h4>
        </div>
        <div class="info">
         <i class="fas fa-home fa-3x"></i> <p>SMART GYM - HEAD OFFICE
           <br><span> 77 A ELNASR ST, 2ND FLOOR , NASR CITY. </span></p>
        </div>
        <div class="info">
          <i class="fa fa-globe-africa fa-3x"></i> <p>WEBSITE
            <br><span>https://www.smart-gym.com</span></p>
         </div>
         <div class="info">
          <i class="fa fa-phone fa-3x"></i> <p>TELEPHONE
            <br><span> (02) 22602679            </span></p>
         </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="title">
          <h4>WE'D LOVE TO HEAR FROM YOU</h4>
        </div>
        <div class="area">
          <p>If you have any complains that you would like to tell us about, we are all ears and are ready to help make things better for you and the rest of our fellow athletes.</p>
          <textarea name="sharewithus" placeholder="Share with us your complain" required  ></textarea>
          <button class="btn btu"><i class="far fa-envelope message"></i> Send complain</button>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="title">
          <h4>SUBSCRIBE</h4>
        </div>
        <div class="subscribe">
          <p>Sign up with your contact information and receive our latest offers and news! Leave your phone number & We will call you for latest offers.</p>
          <input type="text" placeholder="Name*" required class="form-control">
          <label >Gender: </label>
          <div class="gender"><input type="radio" name="Gender" value="Male"><label >Male</label></div>
          <div class="gender"><input type="radio" value="Female" name="Gender"> <label >Female</label></div>
          <input type="number" placeholder="Phone Number*" required class="form-control">
          <textarea name="message" placeholder="Your Message"></textarea>
          <button class="btn btu"><i class="far fa-envelope message"></i> Send Message</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <a href="https://www.smart-gym.com"> </a> -->
