<header>
    <video autoplay muted loop data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
      <source src="../../assets/Images/Video.webm">
      <source src="../../assets/Images/Video.mp4" type="video/mp4" />
    </video>
  <div class="content ">
    <h3>You've got no limits</h3>
    <button class="btn btu ">View Schedule</button>
  </div>
  <div class="top-scroll"><i class="fas fa-chevron-down"></i></div>
</header>
<!--///////////////////////////////////// boxcontainer ////////////////////////////////////////////////////-->
<section class="boxcontainer">
  <div class="man-girl">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="item">
            <div class="item-text text-end">
              <h2>MEN <br>
                CLASSES</h2>
              <p>It’s not only the shape of your body that’s important; your health is, too. Our variety of exercise classes allows your body to reflect on your health on the inside and out. The energy in the classes is the perfect way to stay motivated to accomplish your health goals in a fun way!</p>
              <a href="">Join Now</a>
            </div>
            <img src="../../assets/Images/man.png" alt="man-gym">
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="item woman">
            <img src="../../assets/Images/woman.png" alt="woman-gym">
            <div class="item-text">
              <h2>Ladies <br>
                CLASSES</h2>
              <p>Stay healthy from the inside out. Let nothing stop you even if it's pregnancy or recently having a baby. Our classes are full of variety and energy! The motivation is always alive! Get in shape and become healthier the fun way!</p>
              <a href="">Join Now</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


