<section class="Classes pt-5">
  <div class="container text-center ">
    <div class="description">
      <h3>SMART GYM CLASSES</h3>
      <p>Our classes are a fun way to lose weight and get in shape fast.</p>
      <button class="btn btu">All Class</button>
    </div>
  </div>

  <div class="container-fluid pt-5">
    <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="box">
        <img src="../../assets/Images/zumba.jpg" alt="zumba">

          <div class="title">
          <h2>Zumba</h2>
        </div>
        <div class="small-box">
          <p>Dance to great music, with greatpeople, and burn a ton of calories.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="box">
        <img src="../../assets/Images/yoga3.jpg" alt="yoga">

          <div class="title">
          <h2 class="text-black">Yoga</h2>
          </div>
          <div class="small-box">
          <p>Meditate, relax, lose weight, become flexible, and enhance your health at our yoga classes.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="box">
        <img src="../../assets/Images/yoga.jpg" alt="trampolaine">

          <div class="title">
          <h2>Trampoline</h2>
          </div>
          <div class="small-box">
          <p>Lose weight and keep fit by jumping instead of running! Not only that, you will also detox and cleanse your body, improve your immune system, increase your oxygen levels, and get rid of cellulite the fun way!.</p>

        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="box">
        <img src="../../assets/Images/spinning.jpg" alt="spinning">

          <div class="title">
          <h2>SPINNING</h2>
          </div>
          <div class="small-box">
          <p>Burn maximum calories in a short time,

            improve your heart and lung health, tone your muscles,

            increase your core strength, and release loads of

            stress.</p>
        </div>
      </div>
    </div>


    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="box">
        <img src="../../assets/Images/ABS.jpg" alt="ABS">

          <div class="title">
          <h2>Abs</h2>
          </div>
          <div class="small-box">
          <p>Strengthen and improve your core using

            various compound movements and get those

            packs you've always wanted!</p>
        </div>
      </div>
    </div>


    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="box">
        <img src="../../assets/Images/kickboxing2.jpg" alt="KICKBOXING">

          <div class="title">
          <h2>KICKBOXING</h2>
          </div>
          <div class="small-box">
          <p>A great exercise to learn self-defense

            and the quickest way to get fit.</p>
        </div>
      </div>
    </div>





    </div>
  </div>
</section>
